{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/add-product.css' %}">
    <title>Document</title>
    <script>
        
    </script>
</head>
<body>
    <header>
        <a href="/admin-panel">Home</a>
    </header>
    <section class="add-product">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="product_name" maxlength="250" /> <br>
            <input type="file" name="product_image" accept="image/*" id=""><br>
            <input type="checkbox" name="product_isAvailable" id=""><br>
            <input type="number" name="product_quantity" id=""><br>
            <input type="submit" value="Add Product" />
            {% if status %}
                <h4>{{status}}</h4>
            {% endif %}
        </form>
    </section>
    <footer>

    </footer>
</body>
</html>